* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(315deg, #984447, #ADD9F4);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
    border-radius: 10px;
}

.p-inicial {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

button {
    background-color: #000;
    border: none;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-top: 36px;
}

button:hover {
    background-color: #984447;
    box-shadow: 8px 8px 8px #000;
}

h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.title-resultado {
    font-weight: 500;
    text-transform: none;
}

.input-box label {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

.input-box {
    text-align: left;
    margin-top: 30px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 6px;
    margin-top: 10px;
}

.input-field span,
.input-field i {
    color: #fff;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

.final-step,
.second-step {
    display: none;
}

#resultado {
    margin-top: 28px;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    button {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .p-inicial {
        font-size: 1.5rem;
    }

    .input-box label {
        font-size: 1rem;
    }

    .footer {
        font-size: 12px;
    }

    .input-field span,
    .input-field i {
        color: #fff;
        padding: 0.3rem 0.5rem;
        font-size: 0.9rem;
    }

    .input-field input {
        font-size: 0.9rem;
    }

    #resultado {
        margin-top: 28px;
        font-size: 1rem;
    }
}
